aiocron==1.8
asyncpraw==7.7.0
bardapi==0.1.24
beautifulsoup4==4.11.1
bing-image-downloader==1.1.2
colorthief==0.2.1
dateparser==1.1.5
deepl==1.18.0
discord.py==2.3.0
dnspython==2.6.1
cinemagoer
Google_Images_Search==1.4.6
matplotlib==3.6.2
motor==3.1.2
openai==1.30.1
opencv-python
Pillow>=10.0.1
pymongo==4.6.3
python-dotenv==0.21.0
requests==2.32.0
spotipy==2.23.0
table2ascii==1.1.0
wikipediasummary==1.1.4
